<!DOCTYPE html>
<html>
  <head>
    <title><%= tweet_prefix %><%= phrase %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="/javascripts/bootstrap.min.js"></script>	
    <script>
    	function getphrase() {
    		var httpRequest;
			if (window.XMLHttpRequest) { // Mozilla, Safari, ...
			    httpRequest = new XMLHttpRequest();
			} else if (window.ActiveXObject) { // IE 8 and older
			    httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
			}
			httpRequest.onreadystatechange = function(){
  				if (httpRequest.readyState === 4) {
					if (httpRequest.status === 200) {
					    txt = httpRequest.responseText;
					    document.getElementById('phrase').innerHTML = txt;
					    document.title = '<%= tweet_prefix %>' + txt;
					} else {
					    document.getElementById('phrase').innerHTML = 'ΤΟ ΚΑΤΕΣΤΗΜΕΝΟ ΜΑΣ ΣΑΜΠΟΤΑΡΕΙ! Η ΕΠΑΝΑΣΤΑΣΗ ΑΠΕΤΥΧΕ! Ο SERVER ΨΩΦΗΣΕ!';
					}
				}
			};
			httpRequest.open('GET', 'http://random.lollercoaster.co.uk:3000/phrase', true);
			httpRequest.send(null);
    	}
    </script>
    <center><button class='btn-large primary' onclick='getphrase();'>VIVA LA REVOLUTION!</button></center><br><br>
    <h1 id='phrase' class='title_class'><%= title %></h1>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div class='note_class'>
    	<a href="http://jeevay.deviantart.com/art/Revolution-Wallpaper-14808580"> 
    		original image
    	</a>
    </div>

    <div class='disclaimer_class tl'>
        <a href='#' onclick='alert("Διευκρίνηση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a>
    </div>

    <div class='disclaimer_class tr'>
        <a href='#' onclick='alert("Διευκρίνηση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a>
    </div>

    <div class='disclaimer_class br'>
        <a href='#' onclick='alert("Διευκρίνηση για τους μαλάκες... THIS IS A FUCKING JOKE")'>DISCLAIMER!!!!</a>
    </div>            
  </body>
</html>