body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/bg.jpg');
}

a {
  color: white;
}

a:link {
	text-decoration: none;
} 

.title_class { 
  text-align: center;
  color: white;
}

.note_class {
  position: absolute; bottom: 10px; left: 10px; width: 100px; text-align:left;
  color: white;
}


.disclaimer_class {
  position: absolute; width: 1000px;
  color: white;
  a {
  	color: white;
  }
}

.tl {
    top: 10px;
    left: 10px;
	text-align:left;    
}
.tr {
    top: 10px;
    right: 10px;
	text-align:right;    
}

.br {
    bottom: 10px;
    right: 10px;
    text-align:right;
}